# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

"""C/C++ toolchain definition"""

load("@bazel_tools//tools/build_defs/cc:action_names.bzl", "ACTION_NAMES")
load("@bazel_tools//tools/cpp:cc_toolchain_config_lib.bzl",
    "action_config",
    "env_entry",
    "env_set",
    "feature",
    "feature_set",
    "flag_group",
    "flag_set",
    "tool",
    "tool_path",
    "variable_with_value",
    "with_feature_set",
)
load("@rules_cc//cc:defs.bzl", "cc_common", "CcToolchainConfigInfo")
load("@rules_cc//cc/toolchains:feature_injection.bzl", "convert_feature", "FeatureInfo")
load(":flags.bzl",
    "UNFILTERED_COMPILE_FLAGS",
    "DEFAULT_COMPILE_FLAGS",
    "DEFAULT_x86_64_COMPILE_FLAGS",
    "DEFAULT_ARM64_COMPILE_FLAGS",
    "DEFAULT_C_COMPILE_FLAGS",
    "DEFAULT_CXX_COMPILE_FLAGS",
    "DEFAULT_LINK_FLAGS",
    "DBG_COMPILE_FLAGS",
    "OPT_COMPILE_FLAGS",
    "MINIMAL_WARNINGS_FLAGS",
    "MINIMAL_C_WARNINGS_FLAGS",
    "MINIMAL_CXX_WARNINGS_FLAGS",
    "STRICT_WARNINGS_FLAGS",
    "STRICT_C_WARNINGS_FLAGS",
    "STRICT_CXX_WARNINGS_FLAGS",
    "ALL_WALL_WARNINGS",
    "ALL_WALL_C_WARNINGS",
    "ALL_WALL_CXX_WARNINGS",
    "WARNINGS_AS_ERRORS",
)

all_cpp_compile_actions = [
    ACTION_NAMES.cpp_compile,
    ACTION_NAMES.linkstamp_compile,
    ACTION_NAMES.cpp_header_parsing,
    ACTION_NAMES.cpp_module_compile,
    ACTION_NAMES.cpp_module_codegen,
    ACTION_NAMES.clif_match,
    ACTION_NAMES.lto_backend,
]

all_c_compile_actions = [
    ACTION_NAMES.c_compile,
]

all_assemble_actions = [
    ACTION_NAMES.assemble,
    ACTION_NAMES.preprocess_assemble,
]

all_compile_actions = all_c_compile_actions + all_cpp_compile_actions + all_assemble_actions

all_link_actions = [
    ACTION_NAMES.cpp_link_executable,
    ACTION_NAMES.cpp_link_dynamic_library,
    ACTION_NAMES.cpp_link_nodeps_dynamic_library,
]

all_actions = all_compile_actions + all_link_actions + [
    ACTION_NAMES.strip,
    ACTION_NAMES.cpp_link_static_library,
]

def _impl(ctx):
    dbg_feature = feature(name = "dbg")
    opt_feature = feature(name = "opt")

    no_legacy_features_feature = feature(name = "no_legacy_features", enabled = True)

    # Temp solution until we do not add feature injection
    gnu11_feature = feature(name = "gnu11")

    supports_dynamic_linker_feature = feature(name = "supports_dynamic_linker", enabled = True)
    supports_fission_feature = feature(name = "supports_fission", enabled = True)

    assemble_action = action_config(
        action_name = ACTION_NAMES.assemble,
        tools = [tool(tool = ctx.executable.cc_binary)],
    )
    preprocess_assemble_action = action_config(
        action_name = ACTION_NAMES.preprocess_assemble,
        tools = [tool(tool = ctx.executable.cc_binary)],
    )
    c_compile_action = action_config(
        action_name = ACTION_NAMES.c_compile,
        tools = [tool(tool = ctx.executable.cc_binary)],
    )
    cpp_compile_action = action_config(
        action_name = ACTION_NAMES.cpp_compile,
        tools = [tool(tool = ctx.executable.cxx_binary)],
    )
    cpp_link_executable_action = action_config(
        action_name = ACTION_NAMES.cpp_link_executable,
        tools = [tool(tool = ctx.executable.cxx_binary)],
    )
    cpp_link_dynamic_library_action = action_config(
        action_name = ACTION_NAMES.cpp_link_dynamic_library,
        tools = [tool(tool = ctx.executable.cxx_binary)],
    )
    cpp_link_nodeps_dynamic_library_action = action_config(
        action_name = ACTION_NAMES.cpp_link_nodeps_dynamic_library,
        tools = [tool(tool = ctx.executable.cxx_binary)],
    )
    cpp_link_static_library_action = action_config(
        action_name = ACTION_NAMES.cpp_link_static_library,
        tools = [tool(tool = ctx.executable.ar_binary)],
        implies = ["archiver_flags"],
    )
    strip_action = action_config(
        action_name = ACTION_NAMES.strip,
        tools = [tool(tool = ctx.executable.strip_binary)],
        flag_sets = [
            flag_set(
                flag_groups = [
                    flag_group(
                        flags = [
                            "-g",
                            "-p",
                        ],
                    ),
                    flag_group(
                        iterate_over = "stripopts",
                        flags = ["%{stripopts}"],
                    ),
                    flag_group(
                        flags = [
                            "%{input_file}",
                            "%{output_file}",
                        ],
                    ),
                ],
            ),
        ],
    )

    action_configs = [
        assemble_action,
        c_compile_action,
        cpp_compile_action,
        cpp_link_dynamic_library_action,
        cpp_link_executable_action,
        cpp_link_nodeps_dynamic_library_action,
        cpp_link_static_library_action,
        preprocess_assemble_action,
        strip_action,
    ]

    # Set LD_LIBRARY_PATH environment variable for all actions
    # This is needed by some toolchains since these libraries are not in `rpath` of compiler binary
    # which are needed to run it.
    compiler_library_search_paths = "%{compiler_library_search_paths}"
    compiler_library_search_paths_feature = feature(
        name = "compiler_library_search_paths",
        enabled = %{compiler_library_search_paths_switch},
        env_sets = [
            env_set(
                actions = all_actions,
                env_entries = [env_entry(key = "LD_LIBRARY_PATH", value = compiler_library_search_paths)] if compiler_library_search_paths != "" else [],
            ),
        ],
    )

    unfiltered_compile_flags_feature = feature(
        name = "unfiltered_compile_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_c_compile_actions + all_cpp_compile_actions,
                flag_groups = UNFILTERED_COMPILE_FLAGS
            ),
        ],
    )

    target_cpu_flags = []
    if ctx.attr.target_cpu == "x86_64":
        target_cpu_flags = DEFAULT_x86_64_COMPILE_FLAGS
    else:
        target_cpu_flags = DEFAULT_ARM64_COMPILE_FLAGS

    default_compile_flags_feature = feature(
        name = "default_compile_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = DEFAULT_COMPILE_FLAGS,
            ),
            flag_set(
                actions = all_compile_actions,
                flag_groups = target_cpu_flags,
            ),
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = [flag_group(flags = ["-std=c11"])],
                with_features = [with_feature_set(not_features = ["gnu11"])],
            ),
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = [flag_group(flags = ["-std=gnu11"])],
                with_features = [with_feature_set(features = ["gnu11"])],
            ),
            flag_set(
                actions = all_cpp_compile_actions,
                flag_groups = DEFAULT_CXX_COMPILE_FLAGS,
            ),
            flag_set(
                actions = all_compile_actions,
                flag_groups = DBG_COMPILE_FLAGS,
                with_features = [with_feature_set(features = ["dbg"])],
            ),
            flag_set(
                actions = all_compile_actions,
                flag_groups = OPT_COMPILE_FLAGS,
                with_features = [
                    with_feature_set(features = ["opt"]),
                    with_feature_set(features = ["fastbuild"]),
                ],
            ),
        ],
    )

    # Add sysroot linker flags as a separate feature (always enabled)
    sysroot_link_flags_feature_flag_sets = []
    if ctx.attr.sysroot != None:
        sysroot_files = ctx.attr.sysroot[DefaultInfo].files.to_list()
        if sysroot_files:
            sysroot_path = sysroot_files[0].path
            sysroot_link_flags_feature_flag_sets = [
                flag_set(
                    actions = all_link_actions,
                    flag_groups = [flag_group(flags = [
                        "--sysroot=" + sysroot_path,
                        "-Wl,--sysroot=" + sysroot_path,
                    ])],
                ),
            ]

    sysroot_link_flags_feature = feature(
        name = "sysroot_link_flags",
        enabled = True,
        flag_sets = sysroot_link_flags_feature_flag_sets,
    )

    # Only enable default link flags if extra link flags are not provided
    default_link_flags_enabled = not %{extra_link_flags_switch}
    default_link_flags_feature = feature(
        name = "default_link_flags",
        enabled = default_link_flags_enabled,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = DEFAULT_LINK_FLAGS,
            ),
            flag_set(
                actions = all_link_actions,
                flag_groups = [flag_group(flags = ["-Wl,--gc-sections"])],
                with_features = [with_feature_set(features = ["opt"])],
            ),
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        flags = [
                            "-Wl,--compress-debug-sections=zlib",
                        ],
                    ),
                ],
                with_features = [with_feature_set(not_features = ["opt"])],
            ),
        ],
    )

    minimal_warnings_feature = feature(
        name = "minimal_warnings",
        enabled = False,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups =  MINIMAL_WARNINGS_FLAGS,
            ),
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = MINIMAL_C_WARNINGS_FLAGS,
            ),
            flag_set(
                actions = all_cpp_compile_actions,
                flag_groups =  MINIMAL_CXX_WARNINGS_FLAGS,
            ),
        ],
    )

    strict_warnings_feature = feature(
        name = "strict_warnings",
        implies = ["minimal_warnings"],
        enabled = False,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = STRICT_WARNINGS_FLAGS,
            ),
            flag_set(
                actions = all_cpp_compile_actions,
                flag_groups = STRICT_CXX_WARNINGS_FLAGS,
            ),
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = STRICT_C_WARNINGS_FLAGS,
            ),
        ],
    )

    all_wall_warnings_feature = feature(
        name = "all_wall_warnings",
        implies = ["strict_warnings"],
        enabled = False,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = ALL_WALL_WARNINGS,
            ),
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = ALL_WALL_C_WARNINGS,
            ),
            flag_set(
                actions = all_cpp_compile_actions,
                flag_groups = ALL_WALL_CXX_WARNINGS,
            ),
        ],
    )

    warnings_as_errors_feature = feature(
        name = "warnings_as_errors",
        enabled = False,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = WARNINGS_AS_ERRORS,
            ),
        ],
    )

    extra_compile_flags = %{extra_compile_flags}
    extra_compile_flags_feature = feature(
        name = "extra_compile_flags",
        enabled = %{extra_compile_flags_switch},
        implies = ["default_compile_flags"],
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = extra_compile_flags,
            ),
        ],
    )

    extra_c_compile_flags = %{extra_c_compile_flags}
    extra_c_compile_flags_feature = feature(
        name = "extra_c_compile_flags",
        enabled = %{extra_c_compile_flags_switch},
        implies = ["default_compile_flags"],
        flag_sets = [
            flag_set(
                actions = all_c_compile_actions,
                flag_groups = extra_c_compile_flags,
            ),
        ],
    )

    extra_cxx_compile_flags = %{extra_cxx_compile_flags}
    extra_cxx_compile_flags_feature = feature(
        name = "extra_cxx_compile_flags",
        enabled = %{extra_cxx_compile_flags_switch},
        implies = ["default_compile_flags"],
        flag_sets = [
            flag_set(
                actions = all_cpp_compile_actions,
                flag_groups = extra_cxx_compile_flags,
            ),
        ],
    )

    extra_link_flags = %{extra_link_flags}
    extra_link_flags_feature = feature(
        name = "extra_link_flags",
        enabled = %{extra_link_flags_switch},
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = extra_link_flags,
            ),
        ],
    )

    pthread_feature = feature(
        name = "use_pthread",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(flags = ["-pthread"]),
                ],
            ),
        ],
    )

    supports_pic_feature = feature(name = "supports_pic", enabled = True)

    pic_feature = feature(
        name = "pic",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.assemble,
                    ACTION_NAMES.preprocess_assemble,
                    ACTION_NAMES.c_compile,
                    ACTION_NAMES.cpp_compile,
                    ACTION_NAMES.cpp_module_codegen,
                    ACTION_NAMES.cpp_module_compile,
                ],
                flag_groups = [
                    flag_group(flags = ["-fPIC"], expand_if_available = "pic"),
                ],
            ),
        ],
    )

    user_compile_flags_feature = feature(
        name = "user_compile_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "user_compile_flags",
                        flags = ["%{user_compile_flags}"],
                        expand_if_available = "user_compile_flags",
                    ),
                ],
            ),
        ],
    )

    random_seed_feature = feature(
        name = "random_seed",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.c_compile,
                    ACTION_NAMES.cpp_compile,
                    ACTION_NAMES.cpp_module_compile,
                    ACTION_NAMES.cpp_module_codegen,
                ],
                flag_groups = [
                    flag_group(
                        expand_if_available = "output_file",
                        flags = ["-frandom-seed=%{output_file}"],
                    ),
                ],
            ),
        ],
    )

    include_paths_feature = feature(
        name = "include_paths",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "quote_include_paths",
                        flags = ["-iquote", "%{quote_include_paths}"],
                        expand_if_available = "quote_include_paths",
                    ),
                ],
            ),
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "include_paths",
                        flags = ["-I%{include_paths}"],
                        expand_if_available = "include_paths",
                    ),
                ],
            ),
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "system_include_paths",
                        flags = ["-isystem", "%{system_include_paths}"],
                        expand_if_available = "system_include_paths",
                    ),
                ],
            ),
        ],
    )

    preprocessor_defines_feature = feature(
        name = "preprocessor_defines",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "preprocessor_defines",
                        flags = ["-D%{preprocessor_defines}"],
                        expand_if_available = "preprocessor_defines",
                    ),
                ],
            ),
        ],
    )

    compiler_input_flags_feature = feature(
        name = "compiler_input_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        flags = ["-c", "%{source_file}"],
                        expand_if_available = "source_file",
                    ),
                ],
            ),
        ],
    )

    dependency_file_feature = feature(
        name = "dependency_file",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.assemble,
                    ACTION_NAMES.preprocess_assemble,
                    ACTION_NAMES.c_compile,
                    ACTION_NAMES.cpp_compile,
                    ACTION_NAMES.cpp_module_compile,
                    ACTION_NAMES.objc_compile,
                    ACTION_NAMES.objcpp_compile,
                    ACTION_NAMES.cpp_header_parsing,
                    ACTION_NAMES.clif_match,
                ],
                flag_groups = [
                    flag_group(
                        flags = ["-MD", "-MF", "%{dependency_file}"],
                        expand_if_available = "dependency_file",
                    ),
                ],
            ),
        ],
    )

    compiler_output_flags_feature = feature(
        name = "compiler_output_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        flags = ["-S"],
                        expand_if_available = "output_assembly_file",
                    ),
                    flag_group(
                        flags = ["-E"],
                        expand_if_available = "output_preprocess_file",
                    ),
                    flag_group(
                        flags = ["-o", "%{output_file}"],
                        expand_if_available = "output_file",
                    ),
                ],
            ),
        ],
    )

    archiver_flags_feature = feature(
        name = "archiver_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [ACTION_NAMES.cpp_link_static_library],
                flag_groups = [
                    flag_group(flags = ["rcsD", "%{output_execpath}"]),
                    flag_group(
                        iterate_over = "libraries_to_link",
                        flag_groups = [
                            flag_group(
                                flags = ["%{libraries_to_link.name}"],
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "object_file",
                                ),
                            ),
                            flag_group(
                                flags = ["%{libraries_to_link.object_files}"],
                                iterate_over = "libraries_to_link.object_files",
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "object_file_group",
                                ),
                            ),
                        ],
                        expand_if_available = "libraries_to_link",
                    ),
                    flag_group(
                        iterate_over = "user_archiver_flags",
                        flags = ["%{user_archiver_flags}"],
                        expand_if_available = "user_archiver_flags",
                    ),
                ],
            ),
        ],
    )

    linker_param_file_feature = feature(
        name = "linker_param_file",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions + [ACTION_NAMES.cpp_link_static_library],
                flag_groups = [
                    flag_group(
                        flags = ["@%{linker_param_file}"],
                        expand_if_available = "linker_param_file",
                    ),
                ],
            ),
        ],
    )

    library_search_directories_feature = feature(
        name = "library_search_directories",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "library_search_directories",
                        flag_groups = [
                            flag_group(
                                flags = ["-L%{library_search_directories}"],
                            ),
                        ],
                        expand_if_available = "library_search_directories",
                    ),
                ],
            ),
        ],
    )

    shared_flag_feature = feature(
        name = "shared_flag",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.cpp_link_dynamic_library,
                    ACTION_NAMES.cpp_link_nodeps_dynamic_library,
                ],
                flag_groups = [flag_group(flags = ["-shared"])],
            ),
        ],
    )

    output_execpath_flags_feature = feature(
        name = "output_execpath_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        flags = ["-o", "%{output_execpath}"],
                        expand_if_available = "output_execpath",
                    ),
                ],
            ),
        ],
    )

    runtime_library_search_directories_feature = feature(
        name = "runtime_library_search_directories",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "runtime_library_search_directories",
                        flag_groups = [
                            flag_group(
                                flags = ["-Wl,-rpath,$ORIGIN/%{runtime_library_search_directories}"],
                                expand_if_true = "is_cc_test",
                            ),
                            flag_group(
                                flags = ["-Wl,-rpath,$EXEC_ORIGIN/%{runtime_library_search_directories}"],
                                expand_if_false = "is_cc_test",
                            ),
                        ],
                        expand_if_available = "runtime_library_search_directories",
                    ),
                ],
            ),
        ],
    )

    libraries_to_link_feature = feature(
        name = "libraries_to_link",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "libraries_to_link",
                        flag_groups = [
                            flag_group(
                                flags = ["-Wl,--whole-archive", "%{libraries_to_link.name}", "-Wl,--no-whole-archive"],
                                expand_if_true = "libraries_to_link.is_whole_archive",
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "static_library",
                                ),
                            ),
                            flag_group(
                                flags = ["%{libraries_to_link.name}"],
                                expand_if_false = "libraries_to_link.is_whole_archive",
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "static_library",
                                ),
                            ),
                            flag_group(
                                flags = ["%{libraries_to_link.name}"],
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "object_file",
                                ),
                            ),
                            flag_group(
                                flags = ["%{libraries_to_link.object_files}"],
                                iterate_over = "libraries_to_link.object_files",
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "object_file_group",
                                ),
                            ),
                            flag_group(
                                flags = ["-l%{libraries_to_link.name}"],
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "dynamic_library",
                                ),
                            ),
                            flag_group(
                                flags = ["-l:%{libraries_to_link.name}"],
                                expand_if_equal = variable_with_value(
                                    name = "libraries_to_link.type",
                                    value = "versioned_dynamic_library",
                                ),
                            ),
                        ],
                        expand_if_available = "libraries_to_link",
                    ),
                ],
            ),
        ],
    )

    user_link_flags_feature = feature(
        name = "user_link_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "user_link_flags",
                        flags = ["%{user_link_flags}"],
                        expand_if_available = "user_link_flags",
                    ),
                ],
            ),
        ],
    )

    # ------------------------------------------------------------------------
    # Additional legacy features.
    #
    # These mirror features that Bazel's legacy toolchain machinery would add
    # automatically. All except fully_static_link are guarded (via
    # expand_if_available or with_features) so they are no-ops for normal builds
    # and only emit flags when the relevant build mode is active (e.g. --fission,
    # --force_pic, --stamp). They are therefore enabled by default.
    #
    # fully_static_link is left DISABLED by default because it emits -static
    # unconditionally, which would force fully static linking for every target.
    # Users who want it must opt in explicitly, e.g. via `--features=<name>`.
    # ------------------------------------------------------------------------

    # Fission: emit split DWARF debug info into separate .dwo files at compile.
    per_object_debug_info_feature = feature(
        name = "per_object_debug_info",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.assemble,
                    ACTION_NAMES.preprocess_assemble,
                    ACTION_NAMES.c_compile,
                    ACTION_NAMES.cpp_compile,
                    ACTION_NAMES.cpp_module_codegen,
                ],
                flag_groups = [
                    flag_group(
                        flags = ["-gsplit-dwarf", "-g"],
                        expand_if_available = "per_object_debug_info_file",
                    ),
                ],
            ),
        ],
    )

    # Fission: emit a .gdb_index section at link when fission is in use.
    fission_support_feature = feature(
        name = "fission_support",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        flags = ["-Wl,--gdb-index"],
                        expand_if_available = "is_using_fission",
                    ),
                ],
            ),
        ],
    )

    # Pass linkstamp object files to the linker (used with --stamp).
    linkstamps_feature = feature(
        name = "linkstamps",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "linkstamp_paths",
                        flags = ["%{linkstamp_paths}"],
                        expand_if_available = "linkstamp_paths",
                    ),
                ],
            ),
        ],
    )

    # Force-include headers via -include (the `includes` build variable).
    includes_feature = feature(
        name = "includes",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_compile_actions,
                flag_groups = [
                    flag_group(
                        iterate_over = "includes",
                        flags = ["-include", "%{includes}"],
                        expand_if_available = "includes",
                    ),
                ],
            ),
        ],
    )

    # Build position-independent executables under --force_pic.
    force_pic_flags_feature = feature(
        name = "force_pic_flags",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [ACTION_NAMES.cpp_link_executable],
                flag_groups = [
                    flag_group(
                        flags = ["-pie"],
                        expand_if_available = "force_pic",
                    ),
                ],
            ),
        ],
    )

    # Strip debug symbols at link time.
    strip_debug_symbols_feature = feature(
        name = "strip_debug_symbols",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = all_link_actions,
                flag_groups = [
                    flag_group(
                        flags = ["-Wl,-S"],
                        expand_if_available = "strip_debug_symbols",
                    ),
                ],
            ),
        ],
    )

    # Statically link libgcc (paired with static_link_cpp_runtimes).
    static_libgcc_feature = feature(
        name = "static_libgcc",
        enabled = True,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.cpp_link_executable,
                    ACTION_NAMES.cpp_link_dynamic_library,
                ],
                flag_groups = [flag_group(flags = ["-static-libgcc"])],
                with_features = [
                    with_feature_set(features = ["static_link_cpp_runtimes"]),
                ],
            ),
        ],
    )

    # Fully static link (-static) under --dynamic_mode=fully.
    fully_static_link_feature = feature(
        name = "fully_static_link",
        enabled = False,
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.cpp_link_executable,
                    ACTION_NAMES.cpp_link_dynamic_library,
                    ACTION_NAMES.cpp_link_nodeps_dynamic_library,
                ],
                flag_groups = [flag_group(flags = ["-static"])],
            ),
        ],
    )

    # Feature to disable absolute path warnings for system headers
    supports_header_path_normalization = feature(
        name = "supports_header_path_normalization",
        enabled = True,
    )

    coverage_feature = feature(name = "coverage")
    gcc_coverage_map_format_feature = feature(
        name = "gcc_coverage_map_format",
        provides = ["profile"],
        flag_sets = [
            flag_set(
                actions = [
                    ACTION_NAMES.c_compile,
                    ACTION_NAMES.cpp_compile,
                    ACTION_NAMES.cpp_module_compile,
                    ACTION_NAMES.preprocess_assemble,
                ],
                flag_groups = [flag_group(
                    expand_if_available = "gcov_gcno_file",
                    flags = ["-fprofile-arcs", "-ftest-coverage"],
                )],
            ),
            flag_set(
                actions = all_link_actions,
                flag_groups = [flag_group(flags = ["--coverage"])],
            ),
        ],
        requires = [feature_set(features = ["coverage"])],
    )

    # The order of the features is relevant, they are applied in this specific order.
    # A command line parameter from a feature at the end of the list will appear
    # after a command line parameter from a feature at the beginning of the list.

    features = [
        no_legacy_features_feature,
        compiler_library_search_paths_feature,
        dbg_feature,
        unfiltered_compile_flags_feature,
        gnu11_feature,
        default_compile_flags_feature,
        random_seed_feature,
        include_paths_feature,
        preprocessor_defines_feature,
        user_compile_flags_feature,
        compiler_input_flags_feature,
        compiler_output_flags_feature,
        dependency_file_feature,
        per_object_debug_info_feature,
        includes_feature,
        default_link_flags_feature,
        archiver_flags_feature,
        linker_param_file_feature,
        library_search_directories_feature,
        shared_flag_feature,
        output_execpath_flags_feature,
        runtime_library_search_directories_feature,
        libraries_to_link_feature,
        user_link_flags_feature,
        linkstamps_feature,
        fission_support_feature,
        force_pic_flags_feature,
        strip_debug_symbols_feature,
        static_libgcc_feature,
        fully_static_link_feature,
        sysroot_link_flags_feature,
        pthread_feature,
        minimal_warnings_feature,
        strict_warnings_feature,
        all_wall_warnings_feature,
        warnings_as_errors_feature,
        extra_compile_flags_feature,
        extra_c_compile_flags_feature,
        extra_cxx_compile_flags_feature,
        extra_link_flags_feature,
        opt_feature,
        supports_dynamic_linker_feature,
        supports_pic_feature,
        pic_feature,
        supports_header_path_normalization,
        supports_fission_feature,
        coverage_feature,
        gcc_coverage_map_format_feature,
    ]

    extra_rules_based_features = depset(ctx.attr.extra_enabled_features + ctx.attr.extra_known_features)
    features.extend([convert_feature(extra_feature[FeatureInfo], enabled = extra_feature in ctx.attr.extra_enabled_features) for extra_feature in extra_rules_based_features.to_list()])

    # Get builtin include directories from attribute if provided
    cxx_builtin_include_directories = []
    if hasattr(ctx.attr, "builtin_include_directories") and ctx.attr.builtin_include_directories:
        cxx_builtin_include_directories = ctx.attr.builtin_include_directories

    # TODO: Once https://github.com/bazelbuild/rules_cc/issues/351 is fixed remove this.
    tool_paths = [tool_path(name = "gcov", path = "gcov_wrapper")]

    sysroot = None
    if ctx.attr.sysroot != None:
        sysroot = ctx.attr.sysroot[DefaultInfo].files.to_list()[0].path
    
    return cc_common.create_cc_toolchain_config_info(
        ctx = ctx,
        abi_version = "%{tc_abi_version}",
        abi_libc_version = "unknown",
        builtin_sysroot = sysroot,
        compiler = "gcc",
        cxx_builtin_include_directories = cxx_builtin_include_directories,
        features =  features,
        action_configs = action_configs,
        host_system_name = "local",
        target_system_name = "%{tc_cpu}-%{tc_os}",
        target_cpu =  ctx.attr.target_cpu,
        target_libc = "unknown",
        toolchain_identifier = "%{tc_identifier}",
        tool_paths = tool_paths,
    )

cc_toolchain_config = rule(
    implementation = _impl,
    provides = [CcToolchainConfigInfo],
    attrs = {
        "ar_binary": attr.label(allow_single_file = True, executable = True, cfg = "exec", mandatory = True),
        "cc_binary": attr.label(allow_single_file = True, executable = True, cfg = "exec", mandatory = True),
        "cxx_binary": attr.label(allow_single_file = True, executable = True, cfg = "exec", mandatory = True),
        "gcov_binary": attr.label(allow_single_file = True, executable = True, cfg = "exec", mandatory = True),
        "target_cpu": attr.string(mandatory = True),
        "target_os": attr.string(mandatory = True),
        "strip_binary": attr.label(allow_single_file = True, executable = True, cfg = "exec", mandatory = True),
        "sysroot": attr.label(default = None),
        "host_dir": attr.label(default = None),
        "target_dir": attr.label(default = None),
        "cxx_builtin_include_directories": attr.label(allow_files = True, default = None),
        "extra_enabled_features": attr.label_list(
            providers = [FeatureInfo],
            default = [],
            doc = """
Extra `cc_feature` features to add to this toolchain in an initially enabled state.
This attribute has limited integration with `cc_feature`, and does not run additional correctness checks or handle things like `data` files.
This is only offered as a migration bridge for projects transitioning to rule-based toolchain configurations, or sharing of simple argument sets with older toolchains.
""",
        ),
        "extra_known_features": attr.label_list(
            providers = [FeatureInfo],
            default = [],
            doc = """
Extra `cc_feature` features to add to this toolchain in an initially disabled state.
This attribute has limited integration with `cc_feature`, and does not run additional correctness checks or handle things like `data` files.
This is only offered as a migration bridge for projects transitioning to rule-based toolchain configurations, or sharing of simple argument sets with older toolchains.
""",
        ),
    },
)